
Exercises/.ipynb_checkpoints/1_String_manipulation_Exercise_Pedro-checkpoint.ipynb
Exercises/draft/.ipynb_checkpoints/Quizz_metodos_primos-checkpoint.ipynb
Exercises/.ipynb_checkpoints/2_Control_Flow_Exercise-checkpoint.ipynb
Exercises/draft/.ipynb_checkpoints/Project_Euler_3-checkpoint.ipynb
Exercises/draft/.ipynb_checkpoints/limpeza_texto-checkpoint.ipynb
Exercises/draft/.ipynb_checkpoints/Project_Euler_8-checkpoint.ipynb
