Exercises/.ipynb_checkpoints/
Exercises/draft/.ipynb_checkpoints/
.ipynb_checkpoints/
Notebooks/.ipynb_checkpoints/
Notebooks/draft/.ipynb_checkpoints/

Notebooks/twitter_tokens.txt
Notebooks/mapbox_token.txt
Data/Texts/outputs/doc_cluster.pkl
Data/df_twitter.pkl
Data/Geo/KDZ_Stadtregionen_GEM_20160101.geojson
.vscode/settings.json
Scripts
/.venv/*.cfg
/Notebooks/Python_Basic/__pycache__/*.pyc
